.container {
	width: 145px;
	margin: 0 auto;
}

.button-container {
	width: 410px;
	margin: 30px auto 0;
}

.button-container span {
	width: 100px;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	margin-left: 10px;
}

.btn:first-child {
	margin-left: 0;
}

.winter {
	background: #53b2ca;
}

.spring {
	background: #3ace33;
}

.summer {
	background: #eae822;
}

.autumn {
	background: #ac3232;
}

#img {
	position: absolute;
	left: 0;
	top: 0;
}